*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

**/build/

*.png
*.jpg
*.jpeg
frames/
demo_log.txt

# local-only benchmark app
benchmark/
